{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            {{ form(groupForm) }}
        </div>
    </div>
{% endblock %}

{% block title %}
    Ajouter un nouveau groupe
{% endblock %}

